<div class="container padded">
  <%= simple_form_for(@ride) do |f| %>
    <%= f.error_notification %>

    <%= f.input :start_latitude %>
    <%= f.input :start_longitude %>
    <%= f.input :end_latitude %>
    <%= f.input :end_longitude %>

    <%= f.button :submit %>
  <% end %>
</div>
<br>
<br>
<p class="text-center">Params de test :
start_latitude => 48.864667,
start_longitude => 2.378838,
end_latitude => 48.852115,
end_longitude => 2.268011
</p>
