<div class="container">
  <div class="dashboard">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h2 class="title-card">Check the details of your ride request</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-4 text-center">
        <%= image_tag current_user.uber_picture, class: "avatar-large" %>
        <h3><%= @ride.user.first_name %></h3>
        <p>My secret token is : <%= @ride.user.uber_token %></p>
      </div>

      <div class="col-xs-6 col-xs-offset-2">
        <br>
        <p>Start latitude : <%= @ride.start_latitude %> </p>
        <p>Start longitude : <%= @ride.start_longitude %></p>
        <p>End latitude : <%= @ride.end_latitude %></p>
        <p>End longitude : <%= @ride.end_longitude %></p>
        <p>Requested on <%= @ride.created_at.strftime('%A, %B %d, %Y at %l:%M %p') %> </p>
      </div>
    </div>

    <div class="row">
      <div class="text-center button">
        <%= link_to "Estimate Price", ride_price_estimate_path(@ride), remote: true, method: :post, class: "btn btn-warning btn-lg" %>
      </div>
    </div>
  </div>

  <div class="price-estimation text-center">
  </div>
  <div class="result-booking text-center">
  </div>
  <br>
  <br>
</div>



